{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>📈 Sales Analytics</h2>

<div class="analytics-box">
    <div class="stat">
        <h2>{{ total_sales }}</h2>
        <p>Total Orders</p>
    </div>
    <div class="stat">
        <h2>₹{{ total_revenue }}</h2>
        <p>Total Revenue</p>
    </div>
</div>

<h3>🏆 Top Selling Books</h3>
<table>
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Quantity Sold</th>
        </tr>
    </thead>
    <tbody>
    {% for book in top_books %}
        <tr>
            <td>{{ book.book__title }}</td>
            <td>{{ book.total_qty }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
